<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        {% if page.url != '/' %}
        <button type="button" onclick="goBack()" class="back-button d-lg-none"> 
            <img src="{{ '/images/baseline_keyboard_backspace_black_18dp.png' | prepend: site.baseurl }}" class="d-block"/>
        </button>
        {% endif %}
        
        {% if page.url != '/'%}
        <a class="navbar-brand mx-auto" href="{{site.baseurl}}/">
            <img src="{{ '/images/raceyaya-logo.png' | prepend: site.baseurl}}"/>
        </a>
        {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
            <img src="{{'/images/raceyaya-logo.png' | prepend: site.baseurl}}"/>
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="https://results.raceyaya.com/" class="nav-link navbar-extra navbar-result-text">2019-2021 Results</a>
            </li>
            <li class="nav-item">
                <a href="https://results.raceyaya.com{{site.baseurl}}/" class="nav-link navbar-extra navbar-result-text">2016-2018 Results</a>
            </li>
            <li class="nav-item active">
                <a href="https://raceyaya.com/" target="_blank" class="nav-link navbar-extra">About RaceYaya</a>
            </li>
          </ul>
        {% endif %}
    </div>
</nav>