---
permalink: events/ultra-trail-mapawa-50-2016/5KM
layout: runner-table
enableCategoryRank: false
collectionTag: ultra-trail-mapawa-50-2016
collectionCategory: 5KM
css: event-result.css
event-title: ULTRA TRAIL MAPAWA 50 2016
event-location: Mapawa Nature Park Cagayan de Oro Philippines
event-date: 2016-10-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574386563/Logo/image-asset_plfjxn.jpg

category-title1: 5KM
category-url1: /result2016-2018/events/ultra-trail-mapawa-50-2016/5KM

category-title2: 15KM
category-url2: /result2016-2018/events/ultra-trail-mapawa-50-2016/15KM

category-title3: 50KM
category-url3: /result2016-2018/events/ultra-trail-mapawa-50-2016/50KM


---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

