---
permalink: events/trailrun-mapawa-2018/5K
layout: runner-table
enableCategoryRank: false
collectionTag: trailrun-mapawa-2018
collectionCategory: 5K
css: event-result.css
event-title: TRAIL RUN MAPAWA 2018
event-location: Mapawa Nature Adventure Park, Mapawa, Malasag Cugman, Cagayan de Oro Philippines
event-date: 2018-04-29
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574390173/Logo/image_lvmya6.jpg

category-title1: 5K
category-url1: /result2016-2018/events/trailrun-mapawa-2018/5K

category-title2: 21K
category-url2: /result2016-2018/events/trailrun-mapawa-2018/21K


---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

